<extend name="Base/common" />

<block name="body">
<div id="regField">
<form action="__SELF__" method="post">
<label>用户名：</label>
<input type="text" name="username" id="username"><br><br>
<label>请输入密码：</label>
<input type="password" name="password" id="password"><br><br>
<label>请再次输入密码：</label>
<input type="password" name="repassword" id="repassword"><br><br>
<label>邮箱：</label>
<input type="text" name="email" id="email"><br><br>

<input type="hidden" name="userType" id="userType" value="1">

<input type="text" name="verify" class="form-control" placeholder="验证码" style="width:200px;" />
<span class="glyphicon glyphicon-qrcode form-control-feedback" style="right:120px;"></span>
<img class="verify" src="{:U(verify)}" alt="验证码" onClick="this.src=this.src+'?'+Math.random()" /><br><br>
<input type="submit" value="注册" name="register"><br>
已有账号，请<a href="{:U('User/login')}">登录</a>
</form>
</div>
</block>
